<div id="<%= dom_id(service) %>" class="container my-4">
  <div class="card text-center">
    <%= image_tag("https://plus.unsplash.com/premium_photo-1677683508374-a6f50382eb66?auto=format&fit=crop&q=80&w=400&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D", class: "card-img-top", alt: "Service Image") %>
    <div class="card-body">
      <h5 class="card-title"><%= service.name %></h5>
      <p class="card-text"><%= service.description %></p>
    </div>
  </div>
</div>
