<h1>Editing tasker comment</h1>

<%= render "form", tasker_comment: @tasker_comment %>

<br>

<div>
  <%= link_to "Show this tasker comment", @tasker_comment %> |
  <%= link_to "Back to tasker comments", tasker_comments_path %>
</div>
