<div class="container mt-5">
  <div class="row">
    <div class="col-12 text-center">
      <p style="color: green"><%= notice %></p>
    </div>
  </div>

  <div class="row">
    <div class="col-12 text-center">
      <h1 class="display-4">Tasker comments</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-8 offset-2">
      <div id="tasker_comments">
        <% @tasker_comments.each do |tasker_comment| %>
          <div class="card mb-4">
            <%= render tasker_comment %>
            <div class="card-body">
              <p class="card-text">
                <%= link_to "Show this tasker comment", tasker_comment, class: "btn btn-info" %>
              </p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 text-center mt-4">
      <%= link_to "New tasker comment", new_tasker_comment_path, class: "btn btn-success" %>
    </div>
  </div>
</div>
