<div class="container mt-5">
  <div class="row">
    <div class="col-12 text-center">
      <p style="color: green"><%= notice %></p>
      <h1 class="display-4">Tasks</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-8 offset-2">
      <div id="tasks">
        <% @tasks.each do |task| %>
          <div class="card mb-3">
            <div class="card-body">
              <%= render task %>
              <p class="card-text">
                <%= link_to "Show this task", task, class: "btn btn-info" %>
              </p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 text-center mt-4">
      <%= link_to "New Task", new_task_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>
