<% if user_signed_in? %>
  <div class="container mt-5">
    <div class="row">
      <div class="col-12 text-center">
        <p style="color: green"><%= notice %></p>
      </div>
    </div>

    <div class="row">
      <div class="col-12 text-center">
        <h1 class="display-4">Bookings</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-12 text-center mt-4">
        <%= link_to "New booking", new_booking_path, class: "btn btn-success" %>
      </div>
    </div>

      <div id="bookings" class="row">
        <% @bookings.each do |booking| %>
          <% if user_signed_in? && (current_user.id == booking.tasker.user_id || current_user.id == booking.user_id)  %>
            <div class="col-4 booking-wrapper" data-booking-id="<%= booking.id %>">
              <%= render booking %>
            </div>
          <% end %>
        <% end %>
      </div>
  </div>
<% else %>
  <h2 class="text-center my-4"> Sign in to see your booked services </h5>
<% end %>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    document.querySelectorAll('.booking-wrapper').forEach(function (wrapper) {
      wrapper.addEventListener('click', function () {
        var bookingId = this.getAttribute('data-booking-id');
        window.location.href = '/bookings/' + bookingId;
      });
    });
  });
</script>