<% if current_page?(root_path) %>
  <div class="alert alert-info alert-dismissible fade show my-2" role="alert">
    <%= notice %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>